<html>
    <body>
        <h1>
            Hola mundo 2.0
        </h1>

        {# Comentario duuuro #}
        {% comment %} Comentario
        duuurode 
        varias
        lineas
        {% endcomment %}

        <p>If nombre de persona</p>
        {% if nombre_persona == 'pepeee'%}
            <p> Holiwi si igual</p>

        {% else %}
            <p>El nombre {{nombre_persona}} no es igual a pepeee</p>
        {%endif%}

        <h2>
            Hola soy {{nombre_persona |upper}} {{nombre_persona1.upper}}
        </h2>
        <p> La fecha es: {{fecha}}</p>
        <p> La fecha bonita es: {{fecha.day}} / {{fecha.month}} / {{fecha.year}}</p>
        <p> La persona con la clase persona es: {{np}} {{ap}}</p>
        <p>lista: {{lista}}</p>
        <p>Elemento1: {{lista.0}}</p>

        <p>Bucle lista:</p>
        <p>
            <ul>
                {% for elemento in lista %}
                    <li>{{elemento}}</li>
                {% endfor %}
            </ul>
        </p>

        <p>Bucle lista vacia:</p>
        <p>
            <ul>
                {% if lista_vacia %} 
                    {% for elemento in lista_vacia %}
                        <li>{{elemento}}</li>
                    {% endfor %}
                {% else %}
                    <p> No hay na</p>
                {% endif %}

            </ul>
        </p>
    </body>
</html>